body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f6;
  color: #222;
  text-align: center;
}

.contenedor {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.buscador {
  width: 80%;
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  transition: 0.2s;
}

.buscador:focus {
  border-color: #f43f5e;
  box-shadow: 0 0 5px rgba(244, 63, 94, 0.3);
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.paginacion button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #f43f5e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacion button:hover:not(:disabled) {
  background-color: #d23c55;
}

.paginacion span {
  font-weight: bold;
  font-size: 1rem;
}
